@import "tailwindcss";

@theme {
  /* colors */
  --color-brand-orange: hsl(35, 77%, 62%);
  --color-brand-red: hsl(5, 85%, 63%);
  --color-brand-off-white: hsl(36, 100%, 99%);
  --color-brand-blue-100: hsl(233, 8%, 79%);
  --color-brand-blue-200: hsl(236, 13%, 42%);
  --color-brand-blue-300: hsl(240, 100%, 5%);

  /* font family */
  --font-inter: var(--font-inter);

  /* font sizes */
  --text-fs-900: 6rem;
  --text-fs-800: 5.5rem;
  --text-fs-700: 4.875rem;
  --text-fs-600: 3.5rem;
  --text-fs-500: 2rem;
  --text-fs-400: 1.125rem;
  --text-fs-300: 0.875rem;
  --text-fs-200: 0.5rem;

  /* font weights */
  --font-weight-bold-100: 700;
  --font-weight-bold-200: 800;

  /* screens */
  --breakpoint-lg: 45em;
  --breakpoint-md: 35em;
}

@layer base {

  body {
    @apply bg-white font-inter text-brand-blue-200 leading-normal tracking-normal text-fs-400 overflow-x-hidden;
  }
}

@utility custom-container{
  @apply mx-5 py-5
}
